
<header class="header">
	<nav class="nav">
		<div class="nav-top nav-top-desktop">
			<div class="nav-top-content">
				<div class="nav-top-content-left"> </div>
				<div class="nav-top-content-right" aria-label="quick links to other pages">
					<ul class="nav-top-content-right-links">
						<li><a href="https://stacksbowers.com/events-calendar/">Events Calendar</a></li>
						<li aria-hidden="true">|</li>
						<li><a href="https://stacksbowers.com/blog/">Rare Money Blog</a></li>
						<li aria-hidden="true">|</li>
						<li><a href="https://stacksbowers.com/about-us/faqs/auction-basics/">FAQs</a></li>
						<li aria-hidden="true">|</li>
						<li><a href="https://stacksbowers.com/about-us/contact-us/">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="nav-bottom nav-bottom-desktop">
			<div class="nav-bottom-content">
				<div class="nav-bottom-content-logo">
					<a href="https://stacksbowers.com/"><img src="https://stacksbowers.com/wp-content/themes/stacksbowers/img/logo-dark.png" alt="Stacks Bowers"></a>
				</div>
				<ul class="nav-bottom-content-links" aria-label="navigation links">
					<li aria-haspopup="true"><a href="#">Auctions</a>
						<ul class="mainNavLinksSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://auctions.stacksbowers.com/">Upcoming&nbsp;Auctions</a></li>
							<li><a href="https://stacksbowers.com/page-not-available/">Auction&nbsp;Archives</a></li>
							<li><a href="https://stacksbowers.com/auctions/catalog-library/">Catalog&nbsp;Library</a></li>
							<li><a href="https://stacksbowers.com/auctions/hall-of-fame/">Featured&nbsp;Collections</a></li>
						</ul>
					</li>
					<li aria-haspopup="true"><a href="https://stacksbowers.com/buy-direct/">Buy&nbsp;Direct</a>
						<ul class="mainNavLinksSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://stacksbowers.com/sbg-direct/">SBG&nbsp;Direct</a></li>
							<li><a href="https://stacksbowers.com/page-not-available/">Items&nbsp;Sold&nbsp;on&nbsp;SBG&nbsp;Direct</a></li>
							<li><a href="https://www.ebay.com/sch/m.html?_nkw=&amp;_armrs=1&amp;_ipg=&amp;_from=&amp;_ssn=stacksbowers&amp;_sop=16">Our&nbsp;eBay&nbsp;Store</a></li>
						</ul>
					</li>
					<li aria-haspopup="true"><a href="https://stacksbowers.com/sell-consign/">Sell&nbsp;&amp;&nbsp;Consign</a>
						<ul class="mainNavLinksSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://stacksbowers.com/sell-consign/consign-coins-or-paper-money/">Consign&nbsp;Coins&nbsp;or&nbsp;Paper&nbsp;Money</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/sell-directly/">Sell&nbsp;Directly</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/sell-coins-new-york-city/">New&nbsp;York&nbsp;Store</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/costa-mesa-office/">Costa&nbsp;Mesa&nbsp;Office</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/philadelphia-store/">Philadelphia&nbsp;Store</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/hongkong/">Hong&nbsp;Kong&nbsp;Office</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/how-to-sell/">How&nbsp;to&nbsp;Sell&nbsp;at&nbsp;Auction</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/cash-advances/">Generous&nbsp;Cash&nbsp;Advances</a></li>
						</ul>
					</li>
					<li aria-haspopup="true"><a href="https://stacksbowers.com/services/">Services</a>
						<ul class="mainNavLinksSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://stacksbowers.com/sell-consign/estate-planning/">Estate&nbsp;Planning</a></li>
							<li><a href="https://stacksbowers.com/services/free-grading/">Free&nbsp;Grading</a></li>
							<li><a href="https://stacksbowers.com/buy-direct/client-advisory-services/">Client&nbsp;Advisory&nbsp;Services</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/coin-museum-appraisals/">Museums,&nbsp;Institutions&nbsp;and&nbsp;Learned&nbsp;Societies</a></li>
						</ul>
					</li>
					<li aria-haspopup="true"><a href="https://stacksbowers.com/about-us/">About&nbsp;Us</a>
						<ul class="mainNavLinksSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://stacksbowers.com/about-us/">About&nbsp;Us</a></li>
							<li><a href="https://stacksbowers.com/about-us/our-experts/">Our&nbsp;Experts</a></li>
							<li><a href="https://stacksbowers.com/about-us/contact-us/">Contact&nbsp;Our&nbsp;Locations</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/our-auction-venues/">Our&nbsp;Auction&nbsp;Venues</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/world-record-prices/">World&nbsp;Record&nbsp;Prices</a></li>
							<li><a href="https://stacksbowers.com/about-us/press-release-feed/">Press&nbsp;Releases</a></li>
							<li><a href="https://stacksbowers.com/about-us/testimonials/">Testimonials</a></li>
							<li><a href="https://stacksbowers.com/auctions/glossary/">Numismatic&nbsp;Glossary</a></li>
							<li><a href="https://stacksbowers.com/about-us/terms-and-conditions/">Terms&nbsp;and&nbsp;Conditions</a></li>
						</ul>
					</li>
				</ul>

				<div class="nav-bottom-content-login"> <a href="https://auctions.stacksbowers.com/login" target="_blank" class="button-link">Login</a> </div>
				<div class="nav-bottom-search search-off">
					<input type="text" placeholder="Search...">
					<button id="nav-bottom-search-button" class="nav-bottom-search-button button-link">Search</button>
				</div>
			</div>
		</div>
		<div class="nav-top nav-top-mobile" aria-label="mobile quick links to popular live auctions">
			<div class="nav-top-content splide">
				<div class="nav-top-content-left splide__track"> </div>
			</div>
		</div>
		<div class="nav-bottom-mobile">
			<div class="nav-bottom-content">
				<div class="nav-mobile-toggle">
					<button class="nav-toggle"> <img src="/wp-content/themes/stacksbowers/img/nav-icon.svg" alt="Open Menu"> </button>
				</div>
				<div class="nav-bottom-content-logo">
					<a href=""><img src="/wp-content/themes/stacksbowers/img/logo-dark.png" alt="Stacks Bowers"></a>
				</div>
				<div class="nav-bottom-content-login"> <a href="" class="button-link">Login</a> </div>
			</div>
		</div>
		<div class="nav-bottom-mobile-dropdown menu-off">
			<div class="nav-bottom-mobile-dropdown-content">
				<div class="nav-bottom-mobile-dropdown-content-search">
					<div class="nav-bottom-mobile-dropdown-content-search-input">
						<input type="text" placeholder="Search..."> </div>
					<div class="nav-bottom-mobile-dropdown-content-search-button">
						<button class="button-link">Search</button>
					</div>
				</div>
				<picture> <img src="/wp-content/themes/stacksbowers/img/logo-line_mobile-dark.png" alt="Stack's Bowers EST. 1933"> </picture>
				<ul class="nav-bottom-mobile-dropdown-content-links mobileNavLinks ">
					<li aria-haspopup="true"><a href="https://stacksbowers.com/auctions/">Auctions<img src="/wp-content/themes/stacksbowers/img/down-icon.svg" class="down-icon" alt="Expand List" style="margin-left: 0.5rem;"></a>
						<ul class="mobileNavSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://auctions.stacksbowers.com/">Upcoming&nbsp;Auctions</a></li>
							<li><a href="https://stacksbowers.com/page-not-available/">Auction&nbsp;Archives</a></li>
							<li><a href="https://stacksbowers.com/auctions/catalog-library/">Catalog&nbsp;Library</a></li>
							<li><a href="https://stacksbowers.com/auctions/hall-of-fame/">Featured&nbsp;Collections</a></li>
						</ul>
					</li>
					<li aria-haspopup="true"><a href="https://stacksbowers.com/buy-direct/">Buy&nbsp;Direct<img src="/wp-content/themes/stacksbowers/img/down-icon.svg" class="down-icon" alt="Expand List" style="margin-left: 0.5rem;"></a>
						<ul class="mobileNavSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://stacksbowers.com/sbg-direct/">SBG&nbsp;Direct</a></li>
							<li><a href="https://stacksbowers.com/page-not-available/">Items&nbsp;Sold&nbsp;on&nbsp;SBG&nbsp;Direct</a></li>
							<li><a href="https://www.ebay.com/sch/m.html?_nkw=&amp;_armrs=1&amp;_ipg=&amp;_from=&amp;_ssn=stacksbowers&amp;_sop=16">Our&nbsp;eBay&nbsp;Store</a></li>
						</ul>
					</li>
					<li aria-haspopup="true"><a href="https://stacksbowers.com/sell-consign/">Sell&nbsp;&amp;&nbsp;Consign<img src="/wp-content/themes/stacksbowers/img/down-icon.svg" class="down-icon" alt="Expand List" style="margin-left: 0.5rem;"></a>
						<ul class="mobileNavSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://stacksbowers.com/sell-consign/consign-coins-or-paper-money/">Consign&nbsp;Coins&nbsp;or&nbsp;Paper&nbsp;Money</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/sell-directly/">Sell&nbsp;Directly</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/sell-coins-new-york-city/">New&nbsp;York&nbsp;Store</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/costa-mesa-office/">Costa&nbsp;Mesa&nbsp;Office</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/philadelphia-store/">Philadelphia&nbsp;Store</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/hongkong/">Hong&nbsp;Kong&nbsp;Office</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/how-to-sell/">How&nbsp;to&nbsp;Sell&nbsp;at&nbsp;Auction</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/cash-advances/">Generous&nbsp;Cash&nbsp;Advances</a></li>
						</ul>
					</li>
					<li aria-haspopup="true"><a href="https://stacksbowers.com/services/">Services<img src="/wp-content/themes/stacksbowers/img/down-icon.svg" class="down-icon" alt="Expand List" style="margin-left: 0.5rem;"></a>
						<ul class="mobileNavSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://stacksbowers.com/sell-consign/estate-planning/">Estate&nbsp;Planning</a></li>
							<li><a href="https://stacksbowers.com/services/free-grading/">Free&nbsp;Grading</a></li>
							<li><a href="https://stacksbowers.com/buy-direct/client-advisory-services/">Client&nbsp;Advisory&nbsp;Services</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/coin-museum-appraisals/">Museums,&nbsp;Institutions&nbsp;and&nbsp;Learned&nbsp;Societies</a></li>
						</ul>
					</li>
					<li aria-haspopup="true"><a href="https://stacksbowers.com/about-us/">About&nbsp;Us<img src="/wp-content/themes/stacksbowers/img/down-icon.svg" class="down-icon" alt="Expand List" style="margin-left: 0.5rem;"></a>
						<ul class="mobileNavSubmenu" aria-haspopup="true" aria-expanded="false">
							<li><a href="https://stacksbowers.com/about-us/">About&nbsp;Us</a></li>
							<li><a href="https://stacksbowers.com/about-us/our-experts/">Our&nbsp;Experts</a></li>
							<li><a href="https://stacksbowers.com/about-us/contact-us/">Contact&nbsp;Our&nbsp;Locations</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/our-auction-venues/">Our&nbsp;Auction&nbsp;Venues</a></li>
							<li><a href="https://stacksbowers.com/sell-consign/world-record-prices/">World&nbsp;Record&nbsp;Prices</a></li>
							<li><a href="https://stacksbowers.com/about-us/press-release-feed/">Press&nbsp;Releases</a></li>
							<li><a href="https://stacksbowers.com/about-us/testimonials/">Testimonials</a></li>
							<li><a href="https://stacksbowers.com/auctions/glossary/">Numismatic&nbsp;Glossary</a></li>
							<li><a href="https://stacksbowers.com/about-us/terms-and-conditions/">Terms&nbsp;and&nbsp;Conditions</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav-bottom-mobile-dropdown-content-links mobileNavLinks">
					<li><a href="">Events Calendar</a></li>
					<li><a href="">Rare Money Blog</a></li>
					<li><a href="">FAQS</a></li>
					<li><a href="">Contact Us</a></li>
				</ul>
				<div class="nav-bottom-mobile-dropdown-content-utility">
					<div class="nav-bottom-mobile-dropdown-content-utility-language">
						<button class="language-button" aria-label="Language button">
							<div class="select-wrapper">
								<select id="Language" class="language-select" aria-label="Choose a lanague">
									<option value="English">English</option>
									<option value="Spanish">Español</option>
									<option value="French">Français</option>
									<option value="Chinese">中文</option>
									<option value="Korean">한국어</option>
								</select>
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>